body {
    width: 265px;
}

h1 {
    margin: 0 0 10px 0;
    color: #42a5f6;
    font-weight: 600;
}

section:not(:last-of-type) {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}


/* ----- HEADER ----- */
.header {
    display: flex;
    justify-content: space-between;
}

#copy-result {
    color: #42a5f6;
    font-size: 16px;
}


/* ----- TABLE ----- */
table {
    border-spacing: 0;
}

table,
table td {
    border: 0.5px solid #dedede;
}

table td {
    width: 40px;
    font-size: 20px;
    text-align: center;
}

table td:hover {
    background-color: #cfe9ff;
    cursor: pointer;
}


/* ----- SCROLL BAR ----- */
/* The emerging W3C standard (that is currently Firefox-only) */
* {
    scrollbar-width: thin;
    scrollbar-color: #42a5f6 #cfe9ff;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background: #cfe9ff;
}
*::-webkit-scrollbar-thumb {
    background-color: #42a5f6;
    border-radius: 20px;
    border: 3px solid #cfe9ff;
}